<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColorFilter</key>
	<dict>
		<key>BundleIdentifiers</key>
		<array>
			<string>com.apple.Preferences</string>
		</array>
		<key>policy</key>
		<string>whitelist</string>
	</dict>
	<key>OverrideColors</key>
	<dict>
		<key>BlackColor</key>
		<string>#323740</string>
	</dict>
	<key>TintColors</key>
	<dict>
		<key>UISwitch</key>
		<string>#323740</string>
	</dict>
	<key>TintFilter</key>
	<dict>
		<key>BundleIdentifiers</key>
		<array>
			<string>com.apple.AppStore</string>
			<string>com.apple.gamecenter</string>
			<string>com.apple.Health</string>
			<string>com.apple.MobileAddressBook</string>
			<string>com.apple.mobilecal</string>
			<string>com.apple.mobilephone</string>
			<string>com.apple.mobilesafari</string>
			<string>com.apple.Preferences</string>
			<string>com.apple.MobileSMS</string>
			<string>com.apple.MobileStore</string>
			<string>com.apple.mobileslideshow</string>
			<string>com.apple.Music</string>
			<string>com.apple.podcast</string>
			<string>com.apple.mobilenotes</string>
			<string>com.apple.mobiletimer</string>
			<string>com.apple.mobilesafari</string>
		</array>
		<key>policy</key>
		<string>whitelist</string>
	</dict>
</dict>
</plist>
